.vp-tag-go4l {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-uumo {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
