.vp-tag-qdjj {
  --vp-tag-color: #946300;
  --vp-tag-hover-color: #915930;
  --vp-tag-bg: rgba(234, 179, 8, 0.14);
}
.vp-tag-9flm {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-wnmb {
  --vp-tag-color: #3a5ccc;
  --vp-tag-hover-color: #3451b2;
  --vp-tag-bg: rgba(100, 108, 255, 0.14);
}
.vp-tag-dh1z {
  --vp-tag-color: #fab10f;
  --vp-tag-hover-color: #f39c12;
  --vp-tag-bg: rgba(255, 213, 0, 0.14);
}
.vp-tag-1kyr {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
