.vp-tag-h2dw {
  --vp-tag-color: #946300;
  --vp-tag-hover-color: #915930;
  --vp-tag-bg: rgba(234, 179, 8, 0.14);
}
.vp-tag-lw5n {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-faz1 {
  --vp-tag-color: #3a5ccc;
  --vp-tag-hover-color: #3451b2;
  --vp-tag-bg: rgba(100, 108, 255, 0.14);
}
.vp-tag-ta7y {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
